boto3==1.17.55
botocore==1.20.55
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-MySQL==1.5.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
limits==1.5.1
logstash==0.1.dev0
MarkupSafe==1.1.1
pylogbeat==2.0.0
PyMySQL==1.0.2
python-dateutil==2.8.1
python-logstash-async==2.2.0
redis==3.5.3
requests==2.25.1
s3transfer==0.4.1
six==1.15.0
urllib3==1.26.4
Werkzeug==1.0.1
